<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<script src="{{ asset('js/angular.min.js') }}" type="text/javascript"></script>
    </head>
    <body>
		<div style="float: right;">
		{% if app.user %}
		Hello {{app.user.username}} <a href="/" >Documents</a> | <a href="{{path('acme_user_homepage')}}" >Profile</a> | <a href="{{path('logout')}}" >Logout</a>
		{% else %}
		<a href="{{path('acme_user_registration')}}" >Register</a> | <a href="{{path('login_route')}}" >Login</a>
		{% endif %}
		</div>
		{% for flashMessage in app.session.flashbag.get('notice') %}
			<div class="flash-notice">
				{{ flashMessage }}
			</div>
		{% endfor %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
